jupyter~=1.1
ipykernel~=6.29
python-dotenv~=1.0
pydantic~=2.9
openai~=1.54
docarray~=0.40.0
unstructured[md]~=0.16.5
nltk~=3.9
sentence-transformers~=2.7
pypdf~=5.1
lark~=1.2
#psycopg[binary,pool]~=3.2
psycopg~=3.2
psycopg-pool~=3.2
tavily-python~=0.5.0
wikipedia~=1.4
rank_bm25~=0.2.2
flashRank~=0.2.9
ragatouille~=0.0.8
faiss-cpu~=1.9.0
scipy~=1.14
tenacity~=8.5
tiktoken~=0.8.0
termcolor~=2.5
chromadb~=0.5.18
ratelimit~=2.2
html2text~=2024.2

langchain~=0.3.7
langchain_core~=0.3.15
langchain_openai~=0.2.6
langchain_community~=0.3.5
langchain-huggingface~=0.1.2
langchain-chroma~=0.1.4
langchainhub~=0.1.21
langserve~=0.3.0
langgraph~=0.2.46
langgraph-checkpoint-postgres~=2.0
langchain_experimental~=0.3.3

azure-common~=1.1
azure-core~=1.31
azure-identity~=1.16
azure-search-documents~=11.4
